version: 2
updates:
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "monthly"
    target-branch: "main"
    groups:
      minor:
        update-types:
          - "minor"
          - "patch"