name: Upload to S3

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Copy airport.geojson to S3 for DB ingestion
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
        run: |
          aws s3 cp airport.geojson s3://$AWS_S3_BUCKET/airport.geojson

      - name: Checkout tippecanoe
        uses: actions/checkout@v4
        with:
          repository: felt/tippecanoe
          path: tippecanoe

      - name: Build tippecanoe
        run: |
          cd tippecanoe
          make -j
          sudo make install

      - name: Bake tiles
        run: |
          tippecanoe -Z3 -z14 -f -r1 -pk -pf -y id -y openaip_id -y name -y reign -y elevation -y runway_rotation -y lng -y lat -y radio_frequency -y radio_description -J airport_filter.json -o airport.pmtiles airport.geojson

      - name: Copy pmtiles to S3 for frontend
        env:
          AWS_S3_TILE_BUCKET: ${{ secrets.AWS_S3_TILE_BUCKET }}
        run: |
          aws s3 cp airport.pmtiles s3://$AWS_S3_TILE_BUCKET/airport-$(date +%Y-%m-%d).pmtiles --acl public-read
